# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

/output/
/.playwright-cli/
/public/daoflow-v2/*.png

# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# next.js
/.next/
/out/

# production
/build
/ops/production/app.env
/ops/production/stack.env

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

.vercel

# Local credentials
.env
.env.*
!.env.example
